<div id="cars" class="row transitions-enabled">
  <% @cars.each do |car| %>
    <div class="box">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag car.image.url(:large) %>
          <div class="caption">
            <h2><%= car.make_model %> <%= car.year %></h2>
            <h4>
            <% if len(car.kms) > 4 %>
              <%= car.kms[-3] %>,<%= car.kms[-3] %>
            <% end %>
            <% else %>
              <%= car.kms %>
            <% end %>
            kms</h4>
            <p><%= car.description %></p>
            <h3>$<%= car.price %></h3>

            <% if user_signed_in? %>
              <p><%= link_to 'Edit', edit_car_path(car), class: "btn btn-primary" %>
              <%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning"  %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


