<div id="maybethis" class="transitions-enabled"> 
    <% @cars.each do |car| %>
      <div class="box">
      
        <%= image_tag car.image.url(:medium) %>
        <%= car.make_model %>
        <%= car.year %>
        <%= car.kms %>
        <%= car.description %>
        <%= car.price %>
        <%= link_to 'Show', car %>
        <%= link_to 'Edit', edit_car_path(car) %>
        <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>


</div>