<div class="jumbotron">

<%= image_tag @car.image.url(:medium) %>

<p>
  <strong>Make model:</strong>
  <%= @car.make_model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Kms:</strong>
  <%= @car.kms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>

</div>